- @posts.each do |post|
  =link_to (image_tag post.image.url(:small)), post
  %h2= link_to post.title, post
  %p= time_ago_in_words(post.created_at)
  %p
    = pluralize(post.get_likes.size, "Comment")
    = post.get_likes.size
    Like
    = post.get_dislikes.size
    Dislike

=link_to "New Inspiration", new_post_path